@import '../../styles/variables';

.borrows-management {
  .container {
    .headers {
      width: 100%;
      display: flex;
      font-weight: bold;
      background-color: $clr-accent;

      .header {
        padding: 0.5rem 0;
        text-align: center;
        border-right: 1px solid white;

        &-user {
          width: 40%;
        }
        &-book {
          width: 20%;
        }
        &-borrow {
          width: 15%;
        }
        &-due {
          width: 15%;
        }
        &-return {
          width: 10%;
        }
      }
    }

    .results {
      display: flex;
      flex-direction: column;
    }
  }
}
