@import '../../styles/variables';

.page {
  min-height: 100vh;
  width: 100%;
  padding: $nav-height 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $clr-light;

  .title,
  .container {
    max-width: 1200px;
  }

  .title {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-accent;

    h1 {
      padding: 0.5rem 1rem;
    }

    .actions {
      padding: 0.5rem 1rem;
      .btn {
        font-size: 1.5rem;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;

        &-home {
          margin-left: 1.25rem;
        }
      }
    }
  }

  .container {
    width: 100%;

    .headers {
      width: 100%;
      display: flex;
      font-weight: bold;
      background-color: $clr-accent;

      .header {
        padding: 0.5rem 0;
        text-align: center;
        border-right: 1px solid white;

        &-user {
          width: 40%;
        }
        &-book {
          width: 20%;
        }
        &-borrow {
          width: 15%;
        }
        &-due {
          width: 15%;
        }
        &-return {
          width: 10%;
        }
      }
    }

    .results {
      display: flex;
      flex-direction: column;
    }
  }
}
