@import '../../styles/variables';

.home {
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;

    &__column {
      border: 2px solid $clr-accent;

      &-left {
        width: 69%;
        font-size: 1rem;
      }
      &-right {
        width: 30%;
        border: none;
      }
    }
  }
}
