@import '../../../styles/variables';

main {
  width: 100%;
  padding: $nav-height 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $clr-light;

  .title,
  .container {
    max-width: 1200px;
  }

  .title {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-accent;

    h1 {
      padding: 0.25rem 1rem;
    }

    .actions {
      padding: 0.5rem 1rem;
      display: flex;
      .action {
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  .container {
    width: 100%;

    &-edit {
      padding: 1rem 2rem;
      border: 2px solid $clr-accent;
      .input-controller {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.25rem;
          font-size: 1.25rem;
        }

        input,
        textarea {
          padding: 0.25rem 0.5rem;
          outline: none;
          border: 2px solid $clr-accent;
          border-radius: 5px;
          font-size: 1rem;
        }

        input {
          height: 45px;
        }

        textarea {
          min-height: 100px;
          overflow-y: visible;
        }

        .select {
          width: 100%;
          padding: 0.25rem 0.5rem;
          font-size: 1rem;
          outline: none;
          border: 2px solid $clr-accent;
          border-radius: 5px;
          color: $clr-dark;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }

  button {
    cursor: pointer;
  }
}
