@import '../../styles/variables';

.profile {
  .container {
    padding: 0.5rem 1rem;
    border: 2px solid $clr-accent;
    .info {
      margin-bottom: 0.5rem;

      &-name {
        display: flex;
        justify-content: space-between;

        &__column {
          width: 50%;
        }
      }

      .label {
        font-weight: bold;
      }
    }

    .edit-form {
      .form-controller {
        display: flex;
        input {
          flex-grow: 1;
          margin-left: 0.5rem;
          padding: 0.25rem;
          outline: none;
          border: 1px solid $clr-accent;
          border-radius: 5px;
          font-size: 1rem;
        }
        &:first-child {
          input {
            margin-right: 0.5rem;
          }
        }
      }

      .form-actions {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;

        .form-action {
          padding: 0.25rem 0.5rem;
          width: 130px;
          font-size: 1rem;
          outline: none;
          border: none;
          border-radius: 5px;
          background-color: $clr-accent;
          cursor: pointer;

          &-save {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
