@import '../../../styles/variables';

.header {
  .nav {
    height: $nav-height;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-accent;
    z-index: 99;
    .icon {
      font-size: 1.25rem;
    }

    .logo,
    .user,
    .login-btn {
      height: 100%;
      display: flex;
      align-items: center;
      color: $clr-dark;
      cursor: pointer;

      &__text {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    .logo {
      &__icon {
        margin-right: 0.5rem;
      }

      &__text {
        font-size: 1.25rem;
      }
    }

    .user {
      &__icon {
        margin-right: 0.5rem;
        font-size: 1rem;
      }

      &__options {
        width: 300px;
        display: none;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &-show {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: $nav-height;
          right: 1rem;
        }
        background-color: $clr-light;
      }

      &__option {
        padding: 0.5rem 1rem;
        font-weight: 600;
        text-align: left;
        font-size: 1rem;
        outline: none;
        border: none;
        border-bottom: 1px solid gray;
        background-color: transparent;
        color: $clr-dark;
        cursor: pointer;
        &:hover {
          background-color: rgba(230, 230, 230, 0.678);
        }
        &-last {
          border: none;
        }
      }
    }

    .login-btn {
      &__icon {
        margin-right: 0.5rem;
      }
    }
  }
}
