@import '../../styles/variables';

.result-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .settings {
    height: 64px;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: $clr-accent;

    &__column {
      &-right {
        display: flex;
      }
    }

    &__item {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
      select {
        margin-left: 0.25rem;
        padding: 0.15rem;
        border: 1px solid $clr-dark;
        border-radius: 2px;
        font-size: 0.75rem;
      }

      select:focus {
        outline: none;
      }
    }
  }

  .pagination {
    height: 64px;
    background-color: $clr-accent;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      height: 35px;
      width: 35px;
      margin: 0 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      background-color: transparent;
      font-size: 0.75rem;
      cursor: pointer;

      &-first,
      &-previous,
      &-next,
      &-last {
        border-radius: 50%;
        color: $clr-light;
        background-color: $clr-dark;
      }

      &-first,
      &-last {
        font-size: 0.75rem;
      }

      &-previous,
      &-next {
        font-size: 1.75rem;
      }

      &-page {
        font-weight: bold;
      }
    }
    .current {
      border-radius: 50%;
      color: $clr-light;
      background-color: $clr-dark;
    }
    .disabled {
      opacity: 0.5;
      cursor: default;
    }
    .hidden {
      visibility: hidden;
    }
  }
}
