@import '../../styles/variables';

.book-details {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $clr-accent;
  }

  &__title {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: $clr-accent;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    p {
      padding: 0 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }
  }
}
