@import '../../styles/variables';

.author-details {
  .container {
    display: flex;
    flex-direction: column;
    border: 2px solid $clr-accent;
    p {
      margin-bottom: 0.5rem;
      padding: 0 0.5rem;
      font-size: 1.25rem;
    }
    li {
      margin-left: 1rem;
      list-style: circle;
      list-style-position: inside;
    }
  }
}
