@import '../../styles/variables';

.author-item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $clr-accent;

  &-last {
    border-bottom: none;
  }

  .info {
    .title {
      font-weight: bold;
    }
  }

  .btn-details {
    height: min-content;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $clr-dark;
    background-color: $clr-accent;
    cursor: pointer;
  }
}
